* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    width: 100vw;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid black;
    font-family: "Inter";
    padding: 0.5em;
    font-size: 0.9em;
    letter-spacing: 0.1em;
}

.logo {
    margin-left: 10px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: rgb(17, 17, 17);
}

a:after {
    content: '';
    display: block;
    margin-top: 1px;
    width: 0;
    height: 1px;
    background: #000;
    transition: width .3s;
}

a:hover::after {
    width: 100%;
    transition: width .3s;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-height: 80%;
    overflow: hidden;
}

.container-header {
    text-align: left;
    width: 100%;
    font-family: "Inter";
    color: rgb(17, 17, 17);
    line-height: 1;
    margin-bottom: 1em;
}

h2 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.5em;
    font-weight: 200;
}

.container-header h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 0.5;
}

.container-header hr {
    border-color: #8CC2F3;
    margin-top: -5px;
}

.container-content {
    display: flex;
    flex-direction: row;
    max-height: 100%;
}

.intro-text {
    font-size: 1em;
    max-height: 100%;
    overflow: scroll;
    line-height: 2;
}

.accordion-container {
    display: flex;
    flex-direction: column;
    color: #656565;
    line-height: 2;
    overflow: scroll;
    max-height: 100%;
}

button.accordion {
    width: 100%;
    background-color: #eeeeee;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

button.accordion:after {
    /* font-family: FontAwesome; */
    content: "\f078";
    font-family: "fontawesome";
    font-size: 0.5rem;
    float: right;
}

.accordion {
    font-family: 'Hanken Grotesk', sans-serif;
    letter-spacing: 0.2rem;
    line-height: 0.5;
    color: rgb(17, 17, 17);
    font-size: 1rem;
}

button.accordion.is-open {
    padding-left: 2rem;
}

button.accordion.is-open:after {
    content: "\f077";
    transition: padding-left 1s linear;
}

button.accordion:hover {
    background-color: #c1d7ec;
}

.accordion-content {
    background-color: white;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    padding: 0 20px;
    max-height: 0;
    overflow: scroll;
    transition: max-height 0.3s ease-in-out;
    transition-delay: 0.1s;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1rem;
    line-height: 2;
}



footer {
    width: 100%;
    padding: 20px;
    font-size: 0.9em;
    background-color: #8CC2F3;

    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


@media only screen and (max-width: 400px) {
    * {
        max-height: 100%;
    }

    body {
        align-items: center;
    }

    h2 {
        font-size: 1em;
        line-height: 0.2;
    }

    .navbar-container {
        font-size: 1em;
    }

    .intro-text {
        font-size: 0.8rem;
    }

    .container {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        width: 80vw;
    }

    .container-header h1 {
        font-size: 1.5rem;
        line-height: 1;
    }

    .accordion-container {
        position: inherit;
        width: 100%;
        max-height: 100%;
    }

    .accordion,
    .accordion-content {
        font-size: 0.7rem;
    }

    footer {
        margin: 0;
        padding: 0;
        line-height: 0;
        font-size: 0.8em;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #footer-element-1 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    #footer-element-2 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}