* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.logo {
    margin-left: 10px;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: rgb(17, 17, 17);
}

a:after {
    content: '';
    display: block;
    margin-top: 1px;
    width: 0;
    height: 1px;
    background: #000;
    transition: width .3s;
}

a:hover::after {
    width: 100%;
    transition: width .3s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-bottom: 4em;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #8CC2F3;
    padding-bottom: 1em;
}

.container-header-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Inter";
    color: rgb(17, 17, 17);
    line-height: 1.5;
    margin: 0;
}

.container-header-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: end;
    font-family: "Inter";
    color: rgb(17, 17, 17);
    line-height: 1.5;
    margin: 0;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
    align-items: flex-end;
    padding: 0.5em;
    font-size: 1em;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
    font-family: "DM Mono"
}

h2 {
    font-size: 1em;
    font-weight: 100;
    margin: 0;
    font-family: "DM Mono"
}

.container-header h1 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1;
    margin: 0;
}

.container-content {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    font-family: "DM Mono"
}

.intro-text {
    font-size: 1em;
    max-height: 100%;
    overflow: scroll;
    line-height: 2;
}

.accordion-container {
    display: flex;
    flex-direction: column;
    color: #656565;
    line-height: 2;
    overflow: hidden;
    max-height: 100%;
    min-width: 80vw;
    padding-top: 1em;
}

button.accordion {
    width: 100%;
    background-color: #eeeeee;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.2s linear;
    font-weight: 100;
    font-size: 1em;
    font-family: "DM Mono"
}

button.accordion:after {
    /* font-family: FontAwesome; */
    content: "\f078";
    font-family: "fontawesome";
    font-size: 0.5rem;
    font-weight: 700;
    float: right;
}

.accordion {
    color: rgb(17, 17, 17);
}

button.accordion.is-open {
    padding-left: 2rem;
    letter-spacing: 0.1em;
    font-weight: 800;
}

button.accordion.is-open:after {
    content: "\f077";
    transition: padding-left 1s linear;
    transition: font-weight 1s linear;
}

button.accordion:hover {
    background-color: #c1d7ec;
}

.accordion-content {
    background-color: eeeeee;
    border-left: 1px solid eeeeee;
    border-right: 1px solid eeeeee;
    padding: 0 2rem;
    max-height: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: max-height 0.3s ease-in-out;
    transition-delay: 0.1s;
    font-size: 1rem;
    line-height: 2;
}



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
    background-color: #8CC2F3;
    margin: 0;
    padding: 0;
    height: 4em;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: "Inter";
}

#footer-element-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#footer-img-1 {
    height: 2em;
    margin-right: 0.5em;
}



@media only screen and (max-width: 400px) {
    * {
        max-height: 100%;
    }

    body {
        align-items: center;
    }

    h2 {
        font-size: 1em;
        line-height: 0.2;
    }

    .navbar-container {
        font-size: 1em;
    }

    .intro-text {
        font-size: 0.8rem;
    }

    .container {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        width: 80vw;
    }

    .container-header h1 {
        font-size: 1.5rem;
        line-height: 1;
    }

    .accordion-container {
        position: inherit;
        width: 100%;
        max-height: 100%;
    }

    .accordion,
    .accordion-content {
        font-size: 1rem;
    }

    footer {
        margin: 0;
        padding: 0;
        line-height: 0;
        font-size: 0.8rem;
        height: auto;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #footer-element-1 {
        display: none;
    }
    
    #footer-element-2 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #footer-img-1 {
        height: 1.2em;
        margin-right: 0.5em;
    }
}